.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 50px auto;

  .article {
    text-align: justify;
  }
  
  .author {
    width: 100%;
    text-align: end;
  }
}
