<section class="container" *ngIf="hasContent; else skeleton">
  <h1>{{articleContent.title}}</h1>
  <article class="article">
    {{articleContent.content}}
  </article>
  <p class="author">- by {{articleContent.author}}</p>
</section>

<ng-template #skeleton>
  <section class="container skeleton" *ngIf="true">
    <div class="title-skeleton"></div>
    <div class="content">
      <div class="text-skeleton" *ngFor="let item of skeletonContent"></div>
      <div class="author-skeleton"></div>
    </div>
  </section>
</ng-template>
